#habit-form {
  display: flex;
  justify-content: center;
}

#habit-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  display: inline;
}

#heading {
  display: flex;
  justify-content: center;
}
